@import '@pluralsight/ps-design-system-core';
@import url(https://cloud.typography.com/6966154/6397212/css/fonts.css);
@import '@pluralsight/ps-design-system-normalize';

.Axis path,
.Axis line {
  display: none;
}

text {
  color: var(--psColorsTextIconLowOnDark);
  font-family: var(--psTypeFontFamily);
  font-size: var(--psTypeFontSizeSmall);
}
